# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret

NEXTAUTH_SECRET="buEvnSeMkhovpn12RAUr3Z5pkYhqTJO7olrA+4BfWEY"
NEXTAUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

OPENAI_API_KEY=